.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  .navbarSpacer {
    margin-top: 6rem;
  }

  .myTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(228, 228, 228, 0.659);
    border-radius: 6px;
    padding: 2rem;
  }

  .myTableRow {
    display: flex;
    flex-direction: row;
  }

  .myTableHeader {
    font-weight: bold;
    font-size: large;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .myTableHeader:hover {
    color: rgba(169, 169, 169, 0.536);
  }

  .myTableHeader:first-child {
    text-align: left;
  }

  .myTableDataRow {
    padding: .5rem 0;
    border-bottom: 1px solid rgba(227, 227, 227, 0.37);
  }

  .myTableDataRow:hover {
    cursor: pointer;
    background-color: rgba(237, 237, 237, 0.753);
  }

  .myTableDataRow:last-of-type {
    border: none;
  }

  .myTableCell {
    min-width: 8rem;
    text-align: center;
  }

  .myTableCell:first-child {
    text-align: left;
  }

  .fontAwesomeIcon {
    margin-right: .5rem;
  }